services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_vb
    ports:
      - "11435:11434"
# changed to avoid port conflict with previous one
    volumes:
      - ollama_vb_models:/root/.ollama
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  embedding:
    image: ghcr.io/huggingface/text-embeddings-inference:1.8
    container_name: hf_embedding
    ports:
      - "8080:80"
    environment:
      - MODEL_ID=sentence-transformers/Qwen/Qwen3-Embedding-0.6B
    restart: unless-stopped

volumes:
  ollama_vb_models:
  qdrant_data:

# this is to run Qdrant and Ollama in Docker containers
# with storage for models and data.